// Inter
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/open-sans/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// RF Dewi
@font-face {
  font-family: 'RF Dewi';
  src: url('../../assets/fonts/rf-dewi/RFDewi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RF Dewi';
  src: url('../../assets/fonts/rf-dewi/RFDewi-Ultrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// RF Dewi Extended
@font-face {
  font-family: 'RF Dewi Extended';
  src: url('../../assets/fonts/rf-dewi-expanded/RFDewiExtended-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RF Dewi Extended';
  src: url('../../assets/fonts/rf-dewi-expanded/RFDewiExtended-Ultrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
